@import "../../../../shared/styles/palette.scss";

.footer {
    border-top: 1px solid #292830;
    margin: auto 8px 8px 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    font-size: 14px;
    padding: 0px 40px;
    margin: 20px auto;

    li {
        list-style: none;
        padding: 10px;
    }
}

.link {
    color: $color-madison;
    font-weight: 600;
    margin-right: 18px;
    flex-shrink: 0;

    &:hover {
        text-decoration: underline;
    }
}
