@import "../../../../shared/styles/breakpoints.scss";
@import "../../../../shared/styles/palette.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: $color-mint-tulip;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    margin: auto;
    max-width: $breakpoint-desktop;
    font-size: 14px;
    height: 66px;
    padding: 0 40px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    max-width: 500px;
    flex-grow: 1;

    a {
        color: $color-madison;
        margin-right: 18px;
    }
}

.signInActions {
    display: flex;
    align-items: center;

}

.link {
    color: $color-madison;
    font-weight: 600;
    margin-right: 18px;
    flex-shrink: 0;

    &:hover {
        text-decoration: underline;
    }
}

.signUp {
    color: white;
    font-size: 14px;
    padding: 10px 15px;
}
