.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headerTitle {
    margin: 3px 0;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.button {
    background: linear-gradient(
        102deg
        , #147C94 9.16%, #15718E 32.02%, #105173 64.72%);
}
