/* Barlow */
@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-Thin.ttf') format('truetype');
    font-weight: 1;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
