$color-white-solid: #fff;

$color-black-russian: #00000d;
$color-mine-shaft: #282828;

$color-black-squeeze: #f0f5f9;
$color-geyser: #c9d6df;
$color-shuttle-gray: #52616b;

$color-scooter: #24C3D3;
$color-mint-tulip: #C4EFF4;
$color-blue-chill: #147C94;

$color-java: #22C4D6;
$color-madison: #0B345A;
$color-foam: #F7FDFE;

$color-blizzard-blue: #AAE8EF;
$color-turquoise-blue: #66D6E3;
$color-eastern-blue: #1CA0B7;
$color-matisse: #15718E;
$color-chathams-blue: #105173;
