$color-white-solid: #fff;

$color-black-russian: #00000d;
$color-mine-shaft: #282828;

$color-black-squeeze: #f0f5f9;
$color-geyser: #c9d6df;
$color-shuttle-gray: #52616b;

$color-madison: #0B345A;
$color-java: #22C4D6;
