.main {
    background-color: #C4EFF4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 100%;
    min-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.stepper {
    padding: 8px !important;
    background-color: transparent !important;
}

.step {
    width: 100px;
}

.stepIcon {
    color: #b1b0b0;

    &Active {
        color: #ff8f00;
    }

    &Completed {
        color: #14ce14;
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.button {
    background: linear-gradient(
        102deg
        , #147C94 9.16%, #15718E 32.02%, #105173 64.72%);
}

.link {
    margin: 10px
}

.linkImage {
    width: 211px;
    height: 45px;
}

.verify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;

    &Image {
        width: 200px;
        height: 130px;
        margin: 10px;
    }
}
