.container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3eeee;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend {
    font-size: 14px;
    color: gray;
}

.indicator {
    margin: 4px;
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    position: relative;
}

.indicator:before {
    animation: pulse 2s infinite ease-in-out;
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.indicator.green,
.indicator.green:before {
    background: #2bc636;
    animation-delay: 0s;
}

.indicator.loading,
.indicator.loading:before {
    background: orange;
    animation-delay: 0s;
}

.indicator.error,
.indicator.error:before {
    background: red;
    animation-delay: 0s;
}

.indicator.success,
.indicator.success:before {
    background-color: green;
    animation-delay: 0s;
}

.date {
    color: gray;
    font-size: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}
