.main {
    padding: 20px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    max-width: 600px;
    margin: auto;

    h3 {
        font-size: 22px;
        padding: 15px 0;
    }
}

.metadata {
    font-size: 16px;
    color: rgba(0,0,0,0.541176);
    text-align: center;
    margin: 10px 0;
}
